/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 4090739 */
  src: url('//at.alicdn.com/t/c/font_4090739_s94wekyrfhe.eot?t=1711524396474'); /* IE9 */
  src: url('//at.alicdn.com/t/c/font_4090739_s94wekyrfhe.eot?t=1711524396474#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//at.alicdn.com/t/c/font_4090739_s94wekyrfhe.woff2?t=1711524396474') format('woff2'),
       url('//at.alicdn.com/t/c/font_4090739_s94wekyrfhe.woff?t=1711524396474') format('woff'),
       url('//at.alicdn.com/t/c/font_4090739_s94wekyrfhe.ttf?t=1711524396474') format('truetype'),
       url('//at.alicdn.com/t/c/font_4090739_s94wekyrfhe.svg?t=1711524396474#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-cuowu:before {
  content: "\e610";
}

.icon-paizhao:before {
  content: "\e6b3";
}

.icon-weizhi:before {
  content: "\e62d";
}

.icon-kefu1:before {
  content: "\e64e";
}

.icon-gouwuche:before {
  content: "\e61a";
}

.icon-shouye:before {
  content: "\e6b0";
}

.icon-xuanzhong:before {
  content: "\e631";
}

.icon-yuezhifu:before {
  content: "\e6b2";
}

.icon-weixinzhifu:before {
  content: "\e686";
}

.icon-youhuiquan:before {
  content: "\e60b";
}

.icon-bangzhu:before {
  content: "\e78f";
}

.icon-dizhi:before {
  content: "\e626";
}

.icon-zaixiankefu:before {
  content: "\e69f";
}

.icon-jifen:before {
  content: "\e62b";
}

.icon-shouhou:before {
  content: "\e64a";
}

.icon-lingquanzhongxin:before {
  content: "\e616";
}

.icon-dingdanzhongxin:before {
  content: "\e609";
}

.icon-daipingjia:before {
  content: "\e772";
}

.icon-qianbao:before {
  content: "\e654";
}

.icon-quanbudingdan:before {
  content: "\e600";
}

.icon-daifahuo:before {
  content: "\e6ca";
}

.icon-daishouhuo:before {
  content: "\e7f3";
}

.icon-daizhifu:before {
  content: "\e625";
}

.icon-shezhi:before {
  content: "\e624";
}

.icon-gengduo-gongneng:before {
  content: "\e6c9";
}

.icon-zidingyizujian:before {
  content: "\e6b8";
}

.icon-sidian:before {
  content: "\e601";
}

.icon-gan-copy-copy:before {
  content: "\e8c3";
}

.icon-wushuju:before {
  content: "\e642";
}

.icon-location:before {
  content: "\e633";
}

.icon-arrow-right:before {
  content: "\e629";
}

